<% flash.each do |name, msg| -%>
<div class="alert alert-warning alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <%= msg%>
</div>      
<% end -%>

<div class="box box-warning">
  <div class="box-header with-border">
    <h4 class="timeline-header"><a href="#">Configurações</a></h4>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">


    <ul class="control-sidebar-menu">
<!--      <li>
      <a href="<%#=novareentrada_path(user.cadastro.id,'false','false')%>">
        <i class="menu-icon fa fa-user-plus bg-red"></i>

        <div class="menu-info">
          <h4 class="control-sidebar-subheading">Inserir Cadastro</h4>

          <p>Cadastro de Teste</p>
        </div>
      </a>
    </li> -->
    <li> 
      <a href="<%=relatorio_path%>">
        <i class="menu-icon fa fa-group bg-green"></i>

        <div class="menu-info">
          <h4 class="control-sidebar-subheading">Relatório</h4>

          <p>Ver dados de rede</p>
        </div>
      </a>
    </li>
    <li> 
      <a href="<%=cadastros_path%>">
        <i class="menu-icon fa fa-group bg-red"></i>

        <div class="menu-info">
          <h4 class="control-sidebar-subheading">Cadastro</h4>

          <p>Gerenciar Cadastros</p>
        </div>
      </a>
    </li>    
    <li>
      <a href="<%=ciclos_path%>">
        <i class="menu-icon fa fa-list-ul bg-yellow"></i>

        <div class="menu-info">
          <h4 class="control-sidebar-subheading">Listagem de Linha</h4>

          <p>Linhas e Ciclos</p>
        </div>
      </a>
    </li>
    <li>
      <a href="<%=solicitacaos_path%>">
        <i class="menu-icon fa fa-tags bg-red"></i>

        <div class="menu-info">
          <h4 class="control-sidebar-subheading">Solicitações</h4>

          <p>Alterações de sistema</p>
        </div>
      </a>
    </li>
    <li>
      <a href="<%=obrigacaoslist_path%>">
        <i class="menu-icon fa fa-money bg-green"></i>

        <div class="menu-info">
          <h4 class="control-sidebar-subheading">Obrigar Reentradas</h4>

          <p>Call</p>
        </div>
      </a>
    </li>    
    <li>
      <a href="<%=contatos_path%>">
        <i class="menu-icon fa fa-phone bg-blue"></i>

        <div class="menu-info">
          <h4 class="control-sidebar-subheading">Contato</h4>

          <p>Dúvidas de Usuários</p>
        </div>
      </a>
    </li>
    <li>
      <a href="<%=doacoesVencendo_path%>">
        <i class="menu-icon fa fa-money bg-green"></i>

        <div class="menu-info">
          <h4 class="control-sidebar-subheading">Doacoes Vencendo</h4>

          <p>Monitorar</p>
        </div>
      </a>
    </li>
    <li>
      <a href="<%=retiralixo_path%>">
        <i class="menu-icon fa fa-trash bg-red"></i>

        <div class="menu-info">
          <h4 class="control-sidebar-subheading">Retirar Lixo</h4>

          <p>Limpar Cadastros</p>
        </div>
      </a>
    </li>       
     <li>
        <a href="<%=corrigenumeracao_path%>">
          <i class="menu-icon fa fa-pencil bg-blue"></i>

          <div class="menu-info">
            <h4 class="control-sidebar-subheading">Corrige Numeração</h4>

            <p>Contagem</p>
          </div>
        </a>
      </li>
    </ul>

  <div class="timeline-footer">

    <br>
    <br>
    <div align="left">
      <div class="col-lg-2">
      </div>
    </div>
  </div>              
</div>

