<p id="notice"><%= notice %></p>
<%= render 'shared/doacoesPagar' %>
<%= render 'shared/doacoesPagarReentrada' %>
<%= render 'shared/doacoesReceber' %>
<%= render 'shared/doacoesReceberReentrada' %>
<section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <a href="<%=reentradas_path%>">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><%=Reentrada.where("cadastro_principal_id = " + user.cadastro.id.to_s).count%></h3>

              <p>Reentradas</p>
            </div>
            <div class="icon">
            </div>
          </div>
          </a>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <a href="#">
          <div class="small-box bg-green">
            <div class="inner">
              <h3><%=number_to_currency(@doacoesrecebidas, unit: "R$", separator: ",", delimiter: ".")%></h3>

              <p>Doações a Receber</p>
            </div>
            <div class="icon">
            </div>
          </div>
          </a>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <a href="<%=redeslist_path(user.cadastro.id)%>">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>4</h3>

              <p>Pessoas Em Sua Rede</p>
            </div>
            <div class="icon">
            </div>
          </div>
          </a>
        </div>
        <!-- ./col -->
        <a href="<%=indicados_path%>">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3><%=@indicados%></h3>

              <p>Indicados Direto</p>
            </div>
            <div class="icon">
            </div>
          </div>
        </div>
        </a>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <%# if not @mensagems.empty? %>
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- Chat box -->
          <div class="box box-success">
            <div class="box-header">
              <i class="fa fa-comments-o"></i>

              <h3 class="box-title">Mensagens Recebidas</h3>

              <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                <div class="btn-group" data-toggle="btn-toggle">
                </div>
              </div>
            </div>
            <div class="box-body chat" id="chat-box">
              <!-- chat item -->

              <% @mensagems.each do |mensagem| %>
                <div class="item">
                  <%if mensagem.cadastro_2.masculino%>
                    <%=image_tag("avatar04.png", class: "user image")%>
                  <%else%>
                    <%=image_tag("avatar2.png", class: "user image")%>
                  <%end%>
                  <p class="message">
                    <a href="#" class="name">
                      <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> <%=mensagem.created_at.blank? ? '' : mensagem.created_at.strftime("%d/%m/%Y - %H:%M")%></small>
                      De: <%= mensagem.cadastro_2.nomepessoa %>
                    </a>
                      <%= mensagem.mensagem %>
                  </p>
                </div>
              <% end %>
              
            </div>
          </div>
            <!-- /.chat -->
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->

        <!-- right col -->
      </div>
      <%#end%>
      <!-- /.row (main row) -->

    </section>
