<!DOCTYPE html>
<html>
<head>
  <!-- Mobirise Free Bootstrap Template, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v2.6.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="#" type="image/x-icon">
  <meta name="description" content="">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/animate.css/animate.min.css">
  <link rel="stylesheet" href="assets/socicon/css/socicon.min.css">
  <link rel="stylesheet" href="assets/mobirise/css/style.css">
  <link rel="stylesheet" href="assets/mobirise-slider/style.css">
  <link rel="stylesheet" href="assets/mobirise-gallery/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
</head>
<body>



<section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--transparent mbr-navbar--sticky mbr-navbar--auto-collapse" id="menu-74">
    <div class="mbr-navbar__section mbr-section">
        <div class="mbr-section__container container">
            <div class="mbr-navbar__container">
                <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
                    <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">
                        <span class="mbr-brand__logo"><a href="#"><img class="mbr-navbar__brand-img mbr-brand__img" src="assets/images/02.png" alt="Mobirise"></a></span>
                        <!-- <span class="mbr-brand__name"><a class="mbr-brand__name text-white" href="#">New Time</a></span> -->
                    </span>
                </div>
                <div class="mbr-navbar__hamburger mbr-hamburger text-white"><span class="mbr-hamburger__line"></span></div>
                <div class="mbr-navbar__column mbr-navbar__menu">
                    <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
                        <div class="mbr-navbar__column">
                            <ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active">
                                <li class="mbr-navbar__item">
                                    <a class="mbr-buttons__link btn text-white" href="<%=root_path%>">Home</a>
                                </li> 
                                <li class="mbr-navbar__item">
                                    <a class="mbr-buttons__link btn text-white" href="<%=faq_path%>">FAQ</a>
                                </li>
                                <li class="mbr-navbar__item">
                                    <a class="mbr-buttons__link btn text-white" href="<%=new_contato_path%>">Contato</a>
                                </li> 
                                <li class="mbr-navbar__item">
                                    <a class="mbr-buttons__link btn text-white" href="<%=new_cadastro_path%>">Cadastro</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mbr-navbar__column">
                            <ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-inverse mbr-buttons--active">
                                <li class="mbr-navbar__item">
                                    <a class="mbr-buttons__btn btn btn-default" href="<%=login_path%>">Escritório Virtual</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background mbr-after-navbar" id="header1-73" style="background-image: url(assets/images/macbook-926425-1920-1920x1279-92.jpg);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
        <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(76, 105, 114);"></div>
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                <div class="row"><div class=" col-sm-6">
                    <div class="mbr-hero animated fadeInUp">
                        <!-- <h1 class="mbr-hero__text">Rede New Time</h1> -->
                        <p class="mbr-hero__subtext">A chance de você mudar de vida e conquistar sua independência financeira está aqui.&nbsp;Uma rede sustentável desenhada engenhosamente para levar você a conquistar seus objetivos. <br></p>
                    </div>
                    <div class="mbr-buttons btn-inverse mbr-buttons--left">
                        <a class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" href="<%=login_path%>">Escritório Virtual</a>
                        <a class="mbr-buttons__btn btn btn-lg animated fadeInUp delay btn-warning" href="<%=new_cadastro_path%>">Cadastrar</a> 
                        <a class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" href="<%=faq_path%>">Aprender Mais</a>
                    </div>
                </div></div>
            </div></div>
        </div>
        <div class="mbr-arrow mbr-arrow--floating text-center">
            <div class="mbr-section__container container">
                <a class="mbr-arrow__link" href="#features1-75"><i class="glyphicon glyphicon-menu-down"></i></a>
            </div>
        </div>
    </div>
</section>


<section class="mbr-section mbr-section--relative mbr-parallax-background" id="msg-box5-79" style="background-image: url(assets/images/iphone-6-458150-1920-1920x1285-73.jpg);">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 168, 133);"></div>
    <div class="mbr-section__container mbr-section__container--isolated container">
        <div class="row">
            <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-6">
                    <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img class="mbr-figure__img" src="assets/images/iphone-1032784-1920-1920x1440-16.jpg"></figure>
                </div>
                <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__right">
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">Crescimento sustentável</h3>
                            
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg"><p>Diferente de todas as propostas de mercado, a new time oferece ciclos sustentáveis e consistente dando ao usuário credibilidade e tranquilidade em todas as operações.&nbsp;</p></div>
                    </div>
                    <div class="mbr-section__container">
                        <div class="mbr-buttons mbr-buttons--auto-align btn-inverse"><a class="mbr-buttons__btn btn btn-lg btn-default" href="<%=faq_path%>">Aprender Mais</a></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<section class="content-2 col-3" id="features1-80" style="background-color: rgb(239, 239, 239);">
    
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="assets/images/phone-350x350-12.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Acesso Mobile</h3>
                            <p>Todas as suas operações podem ser realizadas diretamente de seu celular, com a comodiade que o seu dia-a-dia precisa.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="assets/images/anemone-350x350-67.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Fácil de Usar</h3>
                            <p>Intuitivo é a melhor palavra pra definir o nosso sistema. Todos os menus são em português deixando o usuário sempre tranquilo e certo do que está acontecendo</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="assets/images/clear-350x350-99.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Testado</h3>
                            <p>Um sistema que possui precedentes de bastante sucesso tornando-se assim a rede colaborativa mais eficiente e rentável do mercado.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>


<!-- <section class="pricing-table-1 col-4" id="pricing-table1-86" style="background-color: rgb(240, 240, 240);">
    

    <div class="container">
        <div class="row">
            <div>
                <div class="plan green">
                    <h3>Ciclo 2</h3>
                    <p class="price">
                        <strong><sup>R$</sup><span>30</span></strong>
                        <small>per month</small>
                    </p>
                    <div><ul><li><strong>32 GB</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>15 GB</strong> Bandwidth</li></ul></div>
                    <p><a href="https://mobirise.com/bootstrap-template/" class="btn btn-success">DEMO LINK</a></p>
                </div>
            </div>
            <div>
                <div class="plan orange">
                    <h3>Ciclo 3</h3>
                    <p class="price">
                        <strong><sup>R$</sup><span>60</span></strong>
                        <small>per month</small>
                    </p>
                    <div><ul><li><strong>80 GB</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>20 GB</strong> Bandwidth</li></ul></div>
                    <p><a href="https://mobirise.com/bootstrap-template/" class="btn btn-success">DEMO LINK</a></p>
                </div>
            </div>
            <div>
                <div class="plan favorite">
                    <h3>Ciclo 4</h3>
                    <p class="price">
                        <strong><sup>R$</sup><span>120</span></strong>
                        <small>per month</small>
                    </p>
                    <div><ul><li><strong>100 GB</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>50 GB</strong> Bandwidth</li></ul></div>
                    <p><a href="https://mobirise.com/bootstrap-template/" class="btn btn-success">DEMO LINK</a></p>
                </div>
            </div>
            <div>
                <div class="plan blue">
                    <h3>Ciclo 5</h3>
                    <p class="price">
                        <strong><sup>R$</sup><span>240</span></strong>
                        <small>per month</small>
                    </p>
                    <div><ul><li><strong>Unlimited</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>1TB GB</strong> Bandwidth</li></ul></div>
                    <p><a href="https://mobirise.com/bootstrap-template/" class="btn btn-success">DEMO LINK</a></p>
                </div>
            </div>
        </div>
    </div>
</section> -->



<footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer1-91" style="background-color: rgb(68, 68, 68);">
    
    <div class="mbr-section__container container">
        <div class="mbr-footer mbr-footer--wysiwyg row">
            <div class="col-sm-12">
                <p class="mbr-footer__copyright"></p><p>Copyright (c) 2015 Company Name. <a href="#" class="text-gray">License</a></p><p></p>
            </div>
        </div>
    </div>
</footer>


  <script src="assets/jquery/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="assets/smooth-scroll/SmoothScroll.js"></script>
  <script src="assets/jarallax/jarallax.js"></script>
  <script src="assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
  <script src="assets/masonry/masonry.pkgd.min.js"></script>
  <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/social-likes/social-likes.js"></script>
  <script src="assets/mobirise/js/script.js"></script>
  <script src="assets/mobirise-gallery/script.js"></script>
  
  
</body>
</html>