
                    
<div class="btn-group">
    <%= link_to redeslistciclo_path, :class => "btn btn-info btn-bg" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Voltar
    <% end %>
<%if @cadastro.id != user.cadastro.id%>
    <%= link_to redeslist_path(@redePrincipal), :class => "btn btn-success btn-bg" do %>
      <span class="glyphicon glyphicon-arrow-up"></span> Voltar ao Topo
    <% end %>
<%end%>
</div>



<div class="panel-body" style="overflow: auto;">
<div id="carregarede" style="width: 1400px;">





<div id="container" style="width: 1100px;">

<!-- Primeiro Nível -->
<!-- height width -->
<div style="width:100%; height:120px;" align="center">
  <div style="height:90px; width:100%;" align="center">
    <% if @cadastro == nil %>
          <%=image_tag("nobody.png")%>
    <%else%>
      <a href="javascript:abremodal(<%=params[:rede_id]%>)">
        <% if @cadastro.flagativo %>
          <%=@cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    <div style="height:20px;">
        <a href="<%= @cadastro == nil ? "#" : redeslist_path(params[:rede_id])%>" class="name">
          <%=Usuario.find_by_cadastro_id(@cadastro.id).email%>
        </a>
    </div>
    <div style="height:40px; width:100%;" align="center">
    <%=image_tag("t_1.png")%>
    </div>    
  </div>
</div>
<!-- Fim do Primeiro nível -->


<!-- Segundo Nível -->
<div style="width:100%; height:122px;" align="left">
  <div style="height:122px; width:510px;  float:left;" align="center">
    <% if @filho_primeiro.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@filho_primeiro.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@filho_primeiro.id%>)">
        <% if @filho_primeiro.cadastro.flagativo %>
          <%=@filho_primeiro.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@filho_primeiro.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    <div style="height:20px;">
        <a href="<%= @filho_primeiro.cadastro_id == nil ? "#" : redeslist_path(@filho_primeiro.id)%>" class="name">
          <%=@filho_primeiro_usuario.email rescue nil%>
        </a>
    </div>
    <div style="height:40px; width:100%;" align="center">
    <%=image_tag("t_2.png")%>
    </div>    
  </div>
  <div style="height:122px; width:510px;  float:left;" align="left">
    <div style="height:62px; width:345px;" align="right">
    <% if @filho_segundo.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@filho_segundo.id%>)">
        <%=image_tag("nobody.png")%>
      <a/>
    <%else%>
      <a href="javascript:abremodal(<%=@filho_segundo.id%>)">
        <% if @filho_segundo.cadastro.flagativo %>
          <%=@filho_segundo.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@filho_segundo.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    </div>
    <div style="height:20px; width:370px;" align="right">
      <div style="height:20px; width:100px;" align="center">
        <a href="<%= @filho_segundo.cadastro_id == nil ? "#" : redeslist_path(@filho_segundo.id)%>" class="name">
          <%=@filho_segundo_usuario.email rescue nil%>
        </a>
      </div>
    </div>
    <div style="height:20px; width:455px;" align="right">
    <%=image_tag("t_2.png")%>
    </div>    
  </div>  
</div>
<!-- Fim do Segundo nível -->



<!-- Terceiro Nível -->
<div style="width:100%; height:122px; " align="left">
  <div style="height:122px; width:235px;  float:left;" align="center">
    <% if @neto_primeiro.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@neto_primeiro.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@neto_primeiro.id%>)">
        <% if @neto_primeiro.cadastro.flagativo %>
          <%=@neto_primeiro.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@neto_primeiro.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    <div style="height:20px;">
        <a href="<%= @neto_primeiro.cadastro_id == nil ? "#" : redeslist_path(@neto_primeiro.id)%>" class="name">
          <%=@neto_primeiro_usuario.email rescue nil%>
        </a>
    </div>
    <div style="height:40px; width:100%;" align="center">
    <%=image_tag("t_3.png")%>
    </div>    
  </div>
  <div style="height:122px; width:210px;  float:left;" align="left">
    <div style="height:62px; width:180px;" align="right">
    <% if @neto_segundo.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@neto_segundo.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@neto_segundo.id%>)">
        <% if @neto_segundo.cadastro.flagativo %>
          <%=@neto_segundo.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@neto_segundo.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    </div>
    <div style="height:20px; width:210px;" align="right">
      <div style="height:20px; width:100px;" align="center">
        <a href="<%= @neto_segundo.cadastro_id == nil ? "#" : redeslist_path(@neto_segundo.id)%>" class="name">
          <%=@neto_segundo_usuario.email rescue nil%>
        </a>
      </div>
    </div>
    <div style="height:20px; width:250px;" align="right">
    <%=image_tag("t_3.png")%>
    </div>    
  </div>

  <div style="height:122px; width:310px;  float:left;" align="left">
    <div style="height:62px; width:272px;" align="right">
    <% if @neto_terceiro.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@neto_terceiro.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@neto_terceiro.id%>)">
        <% if @neto_terceiro.cadastro.flagativo %>
          <%=@neto_terceiro.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@neto_terceiro.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    </div>
    <div style="height:20px; width:300px;" align="right">
      <div style="height:20px; width:100px;" align="center">
        <a href="<%= @neto_terceiro.cadastro_id == nil ? "#" : redeslist_path(@neto_terceiro.id)%>" class="name">
          <%=@neto_terceiro_usuario.email rescue nil%>
        </a>
      </div>
    </div>
    <div style="height:20px; width:350px;" align="right">
    <%=image_tag("t_3.png")%>
    </div>    
  </div>


  <div style="height:122px; width:300px;  float:left;" align="left">
    <div style="height:62px; width:230px;" align="right">
    <% if @neto_quarto.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@neto_quarto.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@neto_quarto.id%>)">
        <% if @neto_quarto.cadastro.flagativo %>
          <%=@neto_quarto.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@neto_quarto.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    </div>
    <div style="height:20px; width:260px;" align="right">
      <div style="height:20px; width:100px;" align="center">
        <a href="<%= @neto_quarto.cadastro_id == nil ? "#" : redeslist_path(@neto_quarto.id)%>" class="name">
          <%=@neto_quarto_usuario.email rescue nil%>
        </a>
      </div>
    </div>
    <div style="height:20px; width:305px;" align="right">
      <%=image_tag("t_3.png")%>
    </div>    
  </div>         
</div>
<!-- Fim do Terceiro nível -->



<!-- Quarto Nível -->
<div style="width:100%; height:122px;" align="left">
  <div style="height:122px; width:100px;  float:left;" align="left">
    <% if @bisneto_primeiro.cadastro_id == nil rescue true %>
      <a href="javascript:abremodal(<%=@bisneto_primeiro.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@bisneto_primeiro.id%>)">
        <% if @bisneto_primeiro.cadastro.flagativo %>
          <%=@bisneto_primeiro.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@bisneto_primeiro.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    <div style="height:30px; width:37px;" align="right">
      <div style="height:30px; width:37px;" align="center">
        <a href="<%= @bisneto_primeiro.cadastro_id == nil ? "#" : redeslist_path(@bisneto_primeiro.id)%>" class="name">
          <%=@bisneto_primeiro_usuario.email rescue nil%>
        </a>
      </div>
    </div>
  </div>
  <div style="height:122px; width:150px;  float:left;" align="left">
    <div style="height:62px; width:135px;" align="right">
    <% if @bisneto_segundo.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@bisneto_segundo.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@bisneto_segundo.id%>)">
        <% if @bisneto_segundo.cadastro.flagativo %>
          <%=@bisneto_segundo.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@bisneto_segundo.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    </div>
    <div style="height:20px; width:137px;" align="right">
      <div style="height:20px; width:50px;" align="center">
        <a href="<%= @bisneto_segundo.cadastro_id == nil ? "#" : redeslist_path(@bisneto_segundo.id)%>" class="name">
          <%=@bisneto_segundo_usuario.email rescue nil%>
        </a>
      </div>   
    </div>   
  </div>
  <div style="height:122px; width:150px;  float:left; " align="left">
    <div style="height:62px; width:70px;" align="right">
    <% if @bisneto_terceiro.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@bisneto_terceiro.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@bisneto_terceiro.id%>)">
        <% if @bisneto_terceiro.cadastro.flagativo %>
          <%=@bisneto_terceiro.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@bisneto_terceiro.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    </div>
    <div style="height:20px; width:75px;" align="right">
      <div style="height:20px; width:60px;" align="center">
        <a href="<%= @bisneto_terceiro.cadastro_id == nil ? "#" : redeslist_path(@bisneto_terceiro.id)%>" class="name">
          <%=@bisneto_terceiro_usuario.email rescue nil%>
        </a>
      </div>   
    </div>   
  </div>
  <div style="height:122px; width:175px;  float:left;" align="left">
    <div style="height:62px; width:100px;" align="right">
    <% if @bisneto_quarto.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@bisneto_quarto.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@bisneto_quarto.id%>)">
        <% if @bisneto_quarto.cadastro.flagativo %>
          <%=@bisneto_quarto.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@bisneto_quarto.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    </div>
    <div style="height:20px; width:130px;" align="right">
      <div style="height:20px; width:100px;" align="center">
        <a href="<%= @bisneto_quarto.cadastro_id == nil ? "#" : redeslist_path(@bisneto_quarto.id)%>" class="name">
          <%=@bisneto_quarto_usuario.email rescue nil%>
        </a>
      </div>   
    </div>   
  </div> 
  <div style="height:122px; width:100px;  float:left;" align="left">
    <% if @bisneto_quinto.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@bisneto_quinto.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@bisneto_quinto.id%>)">
        <% if @bisneto_quinto.cadastro.flagativo %>
          <%=@bisneto_quinto.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@bisneto_quinto.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    <div style="height:30px; width:40px;" align="center">
        <a href="<%= @bisneto_quinto.cadastro_id == nil ? "#" : redeslist_path(@bisneto_quinto.id)%>" class="name">
          <%=@bisneto_quinto_usuario.email rescue nil%>
        </a>
    </div>
  </div>
  <div style="height:122px; width:150px;  float:left;" align="left">
    <div style="height:62px; width:135px;" align="right">
    <% if @bisneto_sexto.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@bisneto_sexto.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@bisneto_sexto.id%>)">
        <% if @bisneto_sexto.cadastro.flagativo %>
          <%=@bisneto_sexto.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@bisneto_sexto.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    </div>
    <div style="height:20px; width:150px;" align="right">
      <div style="height:20px; width:80px;" align="center">
        <a href="<%= @bisneto_sexto.cadastro_id == nil ? "#" : redeslist_path(@bisneto_sexto.id)%>" class="name">
          <%=@bisneto_sexto_usuario.email rescue nil%>
        </a>
      </div>   
    </div>   
  </div>
  <div style="height:122px; width:150px;  float:left; " align="left">
    <div style="height:62px; width:70px;" align="right">
    <% if @bisneto_setimo.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@bisneto_setimo.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@bisneto_setimo.id%>)">
        <% if @bisneto_setimo.cadastro.flagativo %>
          <%=@bisneto_setimo.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@bisneto_setimo.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    </div>
    <div style="height:20px; width:75px;" align="right">
      <div style="height:20px; width:60px;" align="center">
        <a href="<%= @bisneto_setimo.cadastro_id == nil ? "#" : redeslist_path(@bisneto_setimo.id)%>" class="name">
          <%=@bisneto_setimo_usuario.email rescue nil%>
        </a>
      </div>   
    </div>   
  </div>
  <div style="height:122px; width:100px;  float:left;" align="left">
    <div style="height:62px; width:100px;" align="right">
    <% if @bisneto_oitavo.cadastro_id == nil %>
      <a href="javascript:abremodal(<%=@bisneto_oitavo.id%>)">
        <%=image_tag("nobody.png")%>
      </a>
    <%else%>
      <a href="javascript:abremodal(<%=@bisneto_oitavo.id%>)">
        <% if @bisneto_oitavo.cadastro.flagativo %>
          <%=@bisneto_oitavo.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
        <%else%>
          <%=@bisneto_oitavo.cadastro.masculino == true ? image_tag("man1_d.png") : image_tag("woman1_d.png")%>
        <%end%>
      </a>
    <%end%>
    </div>
    <div style="height:20px; width:100px;" align="right">
      <div style="height:20px; width:50px;" align="center">
        <a href="<%= @bisneto_oitavo.cadastro_id == nil ? "#" : redeslist_path(@bisneto_oitavo.id)%>" class="name">
          <%=@bisneto_oitavo_usuario.email rescue nil%>
        </a>
      </div>   
    </div>   
  </div>           
</div>
<!-- Fim do Quarto nível -->

 </div>
</div>
</div>

<%#if user.cadastro.id == 1%>
<!-- <div class="modal fade bs-example-modal-sm" id="mensagem">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="h4Ingredientes" class="modal-title">Conta secundária</h4>
      </div>
      <div class="modal-body">
        <label for="id">id</label>
        <input id="id" name="id" type="text"><br>
        <label for="linha">linha</label>
        <input id="linha" name="linha" type="text"><br>
        <label>ordem</label>
        <input id="ordem" name="ordem" type="text"><br>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-success" onclick="salvaOrdem()" data-dismiss="modal">Alterar</button>
        <button type="button"  class="btn btn-danger" data-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div> -->
<%#end%>

<script type="text/javascript">

  function abremodal(id){

    $('#mensagem').modal('show');
    buscaservicos(id);

  }

  function buscaservicos(id) {

    $.ajax({
      url: '<%= buscaDadosRedes_path %>',
      data : 
      {
        id : id
      },
      success: function(data){

        for (var i in data) {
          var item = data[i];

          $('#id').val(item.id);
          $('#ordem').val(item.ordem);
          $('#linha').val(item.linha);

        };
      }
    })  
  }

  function salvaOrdem() {

    $.ajax({
      url: '<%= salvaOrdem_path %>',
      data : 
      {
        id : $('#id').val()
        ,ordem : $('#ordem').val()
      },
      success: function(data){

        for (var i in data) {
          var item = data[i];

          $('#id').val(item.id);
          $('#ordem').val(item.ordem);

        };
      }
    })  
  }

</script>   