<%if @cadastro.id != user.cadastro.id%>
  <div id="container" style="width: 100%; height:40px;" align="right">

    <%= link_to redeslist_path(user.cadastro.id), :class => "btn btn-success btn-bg" do %>
      <span class="glyphicon glyphicon-arrow-up"></span> Voltar ao Topo
    <% end %>

  </div>
<%end%>



<div class="panel-body" style="overflow: auto;">
<div id="carregarede" style="width: 1400px;">





<div id="container" style="width: 1100px;">

<!-- Primeiro Nível -->
<!-- height width -->
<div style="width:100%; height:120px;" align="center">
  <div style="height:90px; width:100%;" align="center">
    <% if @cadastro == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    <div style="height:20px;">
        <a href="<%= @cadastro == nil ? "#" : redeslist_path(@cadastro.id)%>" class="name">
          
          <%=@cadastro.nomepessoa%>
        </a>
    </div>
    <div style="height:40px; width:100%;" align="center">
    <%=image_tag("t_1.png")%>
    </div>    
  </div>
</div>
<!-- Fim do Primeiro nível -->


<!-- Segundo Nível -->
<div style="width:100%; height:122px;" align="left">
  <div style="height:122px; width:510px;  float:left;" align="center">
    <% if @filho_primeiro.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@filho_primeiro.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    <div style="height:20px;">
        <a href="<%= @filho_primeiro.cadastro_id == nil ? "#" : redeslist_path(@filho_primeiro.cadastro.id)%>" class="name">
          
          <%=@filho_primeiro.cadastro_id == nil ? "" : @filho_primeiro.cadastro.nomepessoa%>
        </a>
    </div>
    <div style="height:40px; width:100%;" align="center">
    <%=image_tag("t_2.png")%>
    </div>    
  </div>
  <div style="height:122px; width:510px;  float:left;" align="left">
    <div style="height:62px; width:345px;" align="right">
    <% if @filho_segundo.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@filho_segundo.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    </div>
    <div style="height:20px; width:370px;" align="right">
      <div style="height:20px; width:100px;" align="center">
        <a href="<%= @filho_segundo.cadastro_id == nil ? "#" : redeslist_path(@filho_segundo.cadastro.id)%>" class="name">
          
          <%=@filho_segundo.cadastro_id == nil ? "" : @filho_segundo.cadastro.nomepessoa%>
        </a>
      </div>
    </div>
    <div style="height:20px; width:455px;" align="right">
    <%=image_tag("t_2.png")%>
    </div>    
  </div>  
</div>
<!-- Fim do Segundo nível -->



<!-- Terceiro Nível -->
<div style="width:100%; height:122px; " align="left">
  <div style="height:122px; width:235px;  float:left;" align="center">
    <% if @neto_primeiro.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@neto_primeiro.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    <div style="height:20px;">
        <a href="<%= @neto_primeiro.cadastro_id == nil ? "#" : redeslist_path(@neto_primeiro.cadastro.id)%>" class="name">
          
          <%=@neto_primeiro.cadastro_id == nil ? "" : @neto_primeiro.cadastro.nomepessoa%>
        </a>
    </div>
    <div style="height:40px; width:100%;" align="center">
    <%=image_tag("t_3.png")%>
    </div>    
  </div>
  <div style="height:122px; width:210px;  float:left;" align="left">
    <div style="height:62px; width:180px;" align="right">
    <% if @neto_segundo.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@neto_segundo.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    </div>
    <div style="height:20px; width:210px;" align="right">
      <div style="height:20px; width:100px;" align="center">
        <a href="<%= @neto_segundo.cadastro_id == nil ? "#" : redeslist_path(@neto_segundo.cadastro.id)%>" class="name">
          
          <%=@neto_segundo.cadastro_id == nil ? "" : @neto_segundo.cadastro.nomepessoa%>
        </a>
      </div>
    </div>
    <div style="height:20px; width:250px;" align="right">
    <%=image_tag("t_3.png")%>
    </div>    
  </div>

  <div style="height:122px; width:310px;  float:left;" align="left">
    <div style="height:62px; width:272px;" align="right">
    <% if @neto_terceiro.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@neto_terceiro.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    </div>
    <div style="height:20px; width:300px;" align="right">
      <div style="height:20px; width:100px;" align="center">
        <a href="<%= @neto_terceiro.cadastro_id == nil ? "#" : redeslist_path(@neto_terceiro.cadastro.id)%>" class="name">
          
          <%=@neto_terceiro.cadastro_id == nil ? "" : @neto_terceiro.cadastro.nomepessoa%>
        </a>
      </div>
    </div>
    <div style="height:20px; width:350px;" align="right">
    <%=image_tag("t_3.png")%>
    </div>    
  </div>


  <div style="height:122px; width:300px;  float:left;" align="left">
    <div style="height:62px; width:230px;" align="right">
    <% if @neto_quarto.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@neto_quarto.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    </div>
    <div style="height:20px; width:260px;" align="right">
      <div style="height:20px; width:100px;" align="center">
        <a href="<%= @neto_quarto.cadastro_id == nil ? "#" : redeslist_path(@neto_quarto.cadastro.id)%>" class="name">
          <%=@neto_quarto.cadastro_id == nil ? "" : @neto_quarto.cadastro.nomepessoa%>
        </a>
      </div>
    </div>
    <div style="height:20px; width:305px;" align="right">
      <%=image_tag("t_3.png")%>
    </div>    
  </div>         
</div>
<!-- Fim do Terceiro nível -->



<!-- Quarto Nível -->
<div style="width:100%; height:122px;" align="left">
  <div style="height:122px; width:100px;  float:left;" align="left">
    <% if @bisneto_primeiro.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@bisneto_primeiro.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    <div style="height:30px; width:37px;" align="right">
      <div style="height:30px; width:37px;" align="center">
        <a href="<%= @bisneto_primeiro.cadastro_id == nil ? "#" : redeslist_path(@bisneto_primeiro.cadastro.id)%>" class="name">
          
          <%=@bisneto_primeiro.cadastro_id == nil ? "" : @bisneto_primeiro.cadastro.nomepessoa%>
        </a>
      </div>
    </div>
  </div>
  <div style="height:122px; width:150px;  float:left;" align="left">
    <div style="height:62px; width:135px;" align="right">
    <% if @bisneto_segundo.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@bisneto_segundo.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    </div>
    <div style="height:20px; width:137px;" align="right">
      <div style="height:20px; width:50px;" align="center">
        <a href="<%= @bisneto_segundo.cadastro_id == nil ? "#" : redeslist_path(@bisneto_segundo.cadastro.id)%>" class="name">
          
          <%=@bisneto_segundo.cadastro_id == nil ? "" : @bisneto_segundo.cadastro.nomepessoa%>
        </a>
      </div>   
    </div>   
  </div>
  <div style="height:122px; width:150px;  float:left; " align="left">
    <div style="height:62px; width:70px;" align="right">
    <% if @bisneto_terceiro.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@bisneto_terceiro.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    </div>
    <div style="height:20px; width:75px;" align="right">
      <div style="height:20px; width:60px;" align="center">
        <a href="<%= @bisneto_terceiro.cadastro_id == nil ? "#" : redeslist_path(@bisneto_terceiro.cadastro.id)%>" class="name">
          
          <%=@bisneto_terceiro.cadastro_id == nil ? "" : @bisneto_terceiro.cadastro.nomepessoa%>
        </a>
      </div>   
    </div>   
  </div>
  <div style="height:122px; width:175px;  float:left;" align="left">
    <div style="height:62px; width:100px;" align="right">
    <% if @bisneto_quarto.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@bisneto_quarto.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    </div>
    <div style="height:20px; width:130px;" align="right">
      <div style="height:20px; width:100px;" align="center">
        <a href="<%= @bisneto_quarto.cadastro_id == nil ? "#" : redeslist_path(@bisneto_quarto.cadastro.id)%>" class="name">
          
          <%=@bisneto_quarto.cadastro_id == nil ? "" : @bisneto_quarto.cadastro.nomepessoa%>
        </a>
      </div>   
    </div>   
  </div> 
  <div style="height:122px; width:100px;  float:left;" align="left">
    <% if @bisneto_quinto.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@bisneto_quinto.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    <div style="height:30px; width:40px;" align="center">
        <a href="<%= @bisneto_quinto.cadastro_id == nil ? "#" : redeslist_path(@bisneto_quinto.cadastro.id)%>" class="name">
          
          <%=@bisneto_quinto.cadastro_id == nil ? "" : @bisneto_quinto.cadastro.nomepessoa%>
        </a>
    </div>
  </div>
  <div style="height:122px; width:150px;  float:left;" align="left">
    <div style="height:62px; width:135px;" align="right">
    <% if @bisneto_sexto.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@bisneto_sexto.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    </div>
    <div style="height:20px; width:150px;" align="right">
      <div style="height:20px; width:80px;" align="center">
        <a href="<%= @bisneto_sexto.cadastro_id == nil ? "#" : redeslist_path(@bisneto_sexto.cadastro.id)%>" class="name">
          
          <%=@bisneto_quinto.cadastro_id == nil ? "" : @bisneto_quinto.cadastro.nomepessoa%>
        </a>
      </div>   
    </div>   
  </div>
  <div style="height:122px; width:150px;  float:left; " align="left">
    <div style="height:62px; width:70px;" align="right">
    <% if @bisneto_setimo.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@bisneto_setimo.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    </div>
    <div style="height:20px; width:75px;" align="right">
      <div style="height:20px; width:60px;" align="center">
        <a href="<%= @bisneto_setimo.cadastro_id == nil ? "#" : redeslist_path(@bisneto_setimo.cadastro.id)%>" class="name">
          
          <%=@bisneto_setimo.cadastro_id == nil ? "" : @bisneto_setimo.cadastro.nomepessoa%>
        </a>
      </div>   
    </div>   
  </div>
  <div style="height:122px; width:100px;  float:left;" align="left">
    <div style="height:62px; width:100px;" align="right">
    <% if @bisneto_oitavo.cadastro_id == nil %>
      <%=image_tag("nobody.png")%>
    <%else%>
      <%=@bisneto_oitavo.cadastro.masculino == true ? image_tag("man1.png") : image_tag("woman1.png")%>
    <%end%>
    </div>
    <div style="height:20px; width:100px;" align="right">
      <div style="height:20px; width:50px;" align="center">
        <a href="<%= @bisneto_oitavo.cadastro_id == nil ? "#" : redeslist_path(@bisneto_oitavo.cadastro.id)%>" class="name">
          
          <%=@bisneto_oitavo.cadastro_id == nil ? "" : @bisneto_oitavo.cadastro.nomepessoa%>
        </a>
      </div>   
    </div>   
  </div>           
</div>
<!-- Fim do Quarto nível -->

 </div>
</div>
</div>

<style>

div {

  /*border: solid 1px;*/
}

</style>