<% flash.each do |name, msg| -%>
<div class="alert alert-warning alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <%= msg%>
</div>      
<% end -%>

<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Filtros</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">

    <%= form_tag nil, method: 'GET', :id  => "busca" do %>

      <div class="col-md-3">
        <label for="nomepessoa">Nome</label>
        <input type="text" name="nomepessoa" id="nomepessoa" class="form-control" value="<%=params["nomepessoa"]%>">
      </div>

      <div class="col-md-2">
        <label for="ciclo_id">Ciclo</label>
        <select name="ciclo_id" id="ciclo_id" class="form-control">
          <option <%=params["ciclo_id"] == '0' ? 'selected' : '' %> value="0">Todos</options>
          <option <%=params["ciclo_id"] == '1' ? 'selected' : '' %> value="1">1</options>
          <option <%=params["ciclo_id"] == '2' ? 'selected' : '' %> value="2">2</options>
          <option <%=params["ciclo_id"] == '3' ? 'selected' : '' %> value="3">3</options>
          <option <%=params["ciclo_id"] == '4' ? 'selected' : '' %> value="4">4</options>
          <option <%=params["ciclo_id"] == '5' ? 'selected' : '' %> value="5">5</options>
          <option <%=params["ciclo_id"] == '6' ? 'selected' : '' %> value="6">6</options>
        </select>
      </div>

      <div class="col-md-2">
        <label for="linha">Linha</label>
        <select name="linha" id="linha" class="form-control">
          <option <%=params["linha"] == '0' ? 'selected' : '' %> value="0">Todos</options>
          <option <%=params["linha"] == '1' ? 'selected' : '' %> value="1">1</options>
          <option <%=params["linha"] == '2' ? 'selected' : '' %> value="2">2</options>
          <option <%=params["linha"] == '3' ? 'selected' : '' %> value="3">3</options>
          <option <%=params["linha"] == '4' ? 'selected' : '' %> value="4">4</options>
          <option <%=params["linha"] == '5' ? 'selected' : '' %> value="5">5</options>
          <option <%=params["linha"] == '6' ? 'selected' : '' %> value="6">6</options>
          <option <%=params["linha"] == '7' ? 'selected' : '' %> value="7">7</options>
          <option <%=params["linha"] == '8' ? 'selected' : '' %> value="8">8</options>
          <option <%=params["linha"] == '9' ? 'selected' : '' %> value="9">9</options>
          <option <%=params["linha"] == '10' ? 'selected' : '' %> value="10">10</options>
        </select>
      </div>

      <div class="col-md-2">
        <label for="flagativo">Ativo</label>
        <select name="flagativo" id="flagativo" class="form-control">
          <option <%=params["flagativo"] == '0' ? 'selected' : '' %> value="0">Todos</options>
          <option <%=params["flagativo"] == '1' ? 'selected' : '' %> value="1">Ativo</options>
          <option <%=params["flagativo"] == '2' ? 'selected' : '' %> value="2">Inativo</options>
        </select>
      </div>

      <div class="col-md-2">
        <label for="flagreentrada">Tipo</label>
        <select name="flagreentrada" id="flagreentrada" class="form-control">
          <option <%=params["flagreentrada"] == '0' ? 'selected' : '' %> value="0">Todos</options>
          <option <%=params["flagreentrada"] == '1' ? 'selected' : '' %> value="1">Principal</options>
          <option <%=params["flagreentrada"] == '2' ? 'selected' : '' %> value="2">Reentrada</options>
        </select>
      </div>

    </div>
  </div>

  <div class="box-footer clearfix">
    <button  class="btn btn-md btn-success pull-left" type="submit" >Listar</button>
    <% end %>
  </div>    

</div>


<link rel="stylesheet" href="/assets/pagination.css" rel="stylesheet">

<!-- Main content -->

<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title"><%=@cadastros.count%> Resultados</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Número</th>
            <th>Dadata de Inclusao</th>
          </tr>
        </thead>
        <tbody>
          <% @cadastros.each do |cadastro| %>

          <tr>
            <td><%= cadastro.nomepessoa %></td>
            <td><%= cadastro.contador %></td>
            <td><%= cadastro.created_at.blank? ? '' : cadastro.created_at.strftime("%d/%m/%Y - %H:%M")%></td>
            </td>

          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="apple_pagination">
    <%= will_paginate @cadastros, :container => false %>
  </div>
<br>

<script type="text/javascript">
  
$(function() {

  $("#created_at").mask("99/99/9999");   

})


  function busca(){

    if ($('#created_at').val() == ""){

      $('#created_at').val('01/01/1900');

    }

    window.location = "/relatorio/" + $('#ciclo_id').val() + "/" + $('#flagativo').val() + "/" + $('#created_at').val();


  }

</script>