<% title "Exibindo cadastro de: " + @cadastro.nomepessoa %>

<h3> Dados Pessoais </h3>
<br>
<p>
  <strong>Nome da Pessoa:</strong>
  <%= @cadastro.nomepessoa %>
</p>

<p>
  <strong>Sexo:</strong>
  <%=@cadastro.masculino == true ? 'Masculino' : 'Feminino'%>
</p>

<p>
  <strong>Email:</strong>
  <%= @cadastro.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cadastro.telefone %>
</p>

<p>
  <strong>Operadora:</strong>
  <%= @cadastro.operadora.nomeoperadora %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @cadastro.whatsapp %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @cadastro.skype %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @cadastro.facebook %>
</p>

<p>
  <strong>Dadatainclusao:</strong>
  <%= @cadastro.dadatainclusao.blank? ? '' : @cadastro.dadatainclusao.strftime("%d/%m/%Y - %H:%M")%>
</p>

<h3>Dados Financeiros</h3>

<p>
  <strong>Nomedo Titular:</strong>
  <%= @dadosfinanceiro.nometitular %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @dadosfinanceiro.cpftitular %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @dadosfinanceiro.banco.nomebanco %>
</p>

<p>
  <strong>Agência:</strong>
  <%= @dadosfinanceiro.agencia %>
</p>

<p>
  <strong>Código:</strong>
  <%= @dadosfinanceiro.codigo %>
</p>

<p>
  <strong>Operação:</strong>
  <%= @dadosfinanceiro.operacao %>
</p>

<p>
  <strong>Tipo de Conta:</strong>
  <%= @dadosfinanceiro.contabancariatipo.nometipo %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @dadosfinanceiro.observacao %>
</p>

<p>
  <strong>Emailsuperconta:</strong>
  <%= @dadosfinanceiro.emailsuperconta %>
</p>

<p>
  <strong>Datainclulsao:</strong>
  <%= @dadosfinanceiro.datainclulsao.blank? ? '' : @dadosfinanceiro.datainclulsao.strftime("%d/%m/%Y - %H:%M")%>
</p>
