<p id="notice"><%= notice %></p>

<p>
  <strong>Nomepessoa:</strong>
  <%= @cadastro.nomepessoa %>
</p>

<p>
  <strong>Masculino:</strong>
  <%= @cadastro.masculino %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cadastro.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cadastro.telefone %>
</p>

<p>
  <strong>Operadora:</strong>
  <%= @cadastro.operadora %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @cadastro.whatsapp %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @cadastro.skype %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @cadastro.facebook %>
</p>

<p>
  <strong>Dadosfinanceiro:</strong>
  <%= @cadastro.dadosfinanceiro %>
</p>

<p>
  <strong>Dadatainclusao:</strong>
  <%= @cadastro.dadatainclusao %>
</p>

<%= link_to 'Edit', edit_cadastro_path(@cadastro) %> |
<%= link_to 'Back', cadastros_path %>
