<%= form_for(@rede) do |f| %>
  <% if @rede.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rede.errors.count, "error") %> prohibited this rede from being saved:</h2>

      <ul>
      <% @rede.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :redetipo_id %><br>
    <%= f.text_field :redetipo_id %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :cadastro_id %><br>
    <%= f.number_field :cadastro_id %>
  </div>  
<div class="field">
    <%= f.label :linha %><br>
    <%= f.number_field :linha %>
  </div>  
<div class="field">
    <%= f.label :ciclo_id %><br>
    <%= f.number_field :ciclo_id %>
  </div>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
