<div class="box box-warning">
    <div class="box-header with-border">
      <h4 class="timeline-header"><a href="#">Linhas</a></h4>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th style="width: 10px">#</th>
          <th>Posições Total</th>
          <th>Posições Preenchidos</th>
          <th>Preenchimento Linhear</th>
          <th>ver</th>
          <!-- <th style="width: 40px">Label</th> -->
        </tr>
        <%if not @linha1.empty? %>
          <tr>
            <td>1.</td>
            <td><span class="badge bg-red"><%=@linha1.count%></span></td>
            <td><span class="badge bg-green"><%=@linha1Preenchidos.count%></span></td>
            <td><i class="fa fa-check" aria-hidden="true"></i></td>
            <td> 
              <%=link_to redecontrole_path(@linha1.first.ciclo_id, 1), :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Exibir
              <% end %>
            </td>
          </tr>
          <%if not @linha2.empty? %>
            <tr>
              <td>2.</td>
              <td><span class="badge bg-red"><%=@linha2.count%></span></td>
              <td><span class="badge bg-green"><%=@linha2Preenchidos.count%></span></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td> 
                <%=link_to redecontrole_path(@linha2.first.ciclo_id, 2), :class => "btn btn-default btn-sm" do %>
                  <span class="glyphicon glyphicon-list-alt"></span> Exibir
                <% end %>
              </td>              
            </tr>
            <%if not @linha3.empty? %>
              <tr>
                <td>3.</td>
                <td><span class="badge bg-red"><%=@linha3.count%></span></td>
                <td><span class="badge bg-green"><%=@linha3Preenchidos.count%></span></td>
                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                <td> 
                  <%=link_to redecontrole_path(@linha3.first.ciclo_id, 3), :class => "btn btn-default btn-sm" do %>
                    <span class="glyphicon glyphicon-list-alt"></span> Exibir
                  <% end %>
                </td>                
              </tr>          
              <%if not @linha4.empty? %>
                <tr>
                  <td>4.</td>
                  <td><span class="badge bg-red"><%=@linha4.count%></span></td>
                  <td><span class="badge bg-green"><%=@linha4Preenchidos.count%></span></td>
                  <td><i class="fa fa-check" aria-hidden="true"></i></td>
                  <td> 
                    <%=link_to redecontrole_path(@linha4.first.ciclo_id, 4), :class => "btn btn-default btn-sm" do %>
                      <span class="glyphicon glyphicon-list-alt"></span> Exibir
                    <% end %>
                  </td>                  
                </tr>
                <%if not @linha5.empty? %>
                  <tr>
                    <td>5.</td>
                    <td><span class="badge bg-red"><%=@linha5.count%></span></td>
                    <td><span class="badge bg-green"><%=@linha5Preenchidos.count%></span></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td> 
                      <%=link_to redecontrole_path(@linha5.first.ciclo_id, 5), :class => "btn btn-default btn-sm" do %>
                        <span class="glyphicon glyphicon-list-alt"></span> Exibir
                      <% end %>
                    </td>                    
                  </tr>
                  <%if not @linha6.empty? %>
                    <tr>
                      <td>6.</td>
                      <td><span class="badge bg-red"><%=@linha6.count%></span></td>
                      <td><span class="badge bg-green"><%=@linha6Preenchidos.count%></span></td>
                      <td><i class="fa fa-check" aria-hidden="true"></i></td>
                      <td> 
                        <%=link_to redecontrole_path(@linha6.first.ciclo_id, 6), :class => "btn btn-default btn-sm" do %>
                          <span class="glyphicon glyphicon-list-alt"></span> Exibir
                        <% end %>
                      </td>                      
                    </tr>          
                    <%if not @linha7.empty? %>
                      <tr>
                        <td>7.</td>
                        <td><span class="badge bg-red"><%=@linha7.count%></span></td>
                        <td><span class="badge bg-green"><%=@linha7Preenchidos.count%></span></td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td> 
                          <%=link_to redecontrole_path(@linha7.first.ciclo_id, 7), :class => "btn btn-default btn-sm" do %>
                            <span class="glyphicon glyphicon-list-alt"></span> Exibir
                          <% end %>
                        </td>                        
                      </tr>
                      <%if not @linha8.empty? %>
                        <tr>
                          <td>8.</td>
                          <td><span class="badge bg-red"><%=@linha8.count%></span></td>
                          <td><span class="badge bg-green"><%=@linha8Preenchidos.count%></span></td>
                          <td><i class="fa fa-check" aria-hidden="true"></i></td>
                          <td> 
                            <%=link_to redecontrole_path(@linha8.first.ciclo_id, 8), :class => "btn btn-default btn-sm" do %>
                              <span class="glyphicon glyphicon-list-alt"></span> Exibir
                            <% end %>
                          </td>                          
                        </tr>
                        <%if not @linha9.empty? %>
                          <tr>
                            <td>9.</td>
                            <td><span class="badge bg-red"><%=@linha9.count%></span></td>
                            <td><span class="badge bg-green"><%=@linha9Preenchidos.count%></span></td>
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td> 
                              <%=link_to redecontrole_path(@linha9.first.ciclo_id, 9), :class => "btn btn-default btn-sm" do %>
                                <span class="glyphicon glyphicon-list-alt"></span> Exibir
                              <% end %>
                            </td>                            
                          </tr>
                          <%if not @linha10.empty? %>
                            <tr>
                              <td>10.</td>
                              <td><span class="badge bg-red"><%=@linha10.count%></span></td>
                              <td><span class="badge bg-green"><%=@linha10Preenchidos.count%></span></td>
                              <td><i class="fa fa-check" aria-hidden="true"></i></td>
                              <td> 
                                <%=link_to redecontrole_path(@linha10.first.ciclo_id, 10), :class => "btn btn-default btn-sm" do %>
                                  <span class="glyphicon glyphicon-list-alt"></span> Exibir
                                <% end %>
                              </td>                              
                            </tr>
                            <%if not @linha11.empty? %>
                              <tr>
                                <td>11.</td>
                                <td><span class="badge bg-red"><%=@linha11.count%></span></td>
                                <td><span class="badge bg-green"><%=@linha11Preenchidos.count%></span></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td> 
                                  <%=link_to redecontrole_path(@linha11.first.ciclo_id, 11), :class => "btn btn-default btn-sm" do %>
                                    <span class="glyphicon glyphicon-list-alt"></span> Exibir
                                  <% end %>
                                </td>                              
                              </tr>          
                            <%end%>                                       
                          <%end%>                                    
                        <%end%>                                  
                      <%end%>
                    <%end%>
                  <%end%>                            
                <%end%>
              <%end%>                                        
            <%end%>                      
          <%end%>
        <%end%>
      </table>

      <div class="timeline-footer">

      <br>
      <br>
        <div align="left">
          <div class="col-lg-2">
            <label for="cadastro_Nome">Número da Linha</label><br>
            <input type="text" id="numero" name="numero" class="form-control">
          </div>
            <label for="cadastro_Nome">&nbsp;</label><br>
            <button type="submit" class="btn btn-success btn-sm" onclick="geralinha();">
              <span class="glyphicon glyphicon-floppy-disk"></span> Gerar Linha
            </button>       
            <button type="submit" class="btn btn-warning btn-sm" onclick="deleta();">
              <span class="glyphicon glyphicon-floppy-disk"></span> Deleta Linha
            </button>                   
        </div>
        <input type="hidden" name="ciclo_id" id="ciclo_id" value="<%=params[:ciclo_id]%>">
      </div>              
    </div>
    <!-- /.box-body -->
</div>        



<script type="text/javascript">

function pesquisar() {

  $.ajax({
    url: '<%=exibirlinhas_path %>',
    data : 
    {
        ciclo_id : $('#ciclo_id').val()
    },
    success: function(data){

          location.reload();

    }
  })  
}

function deleta() {

  if ($('#numero').val() == "") {
    alert('Preencha o número da linha a ser gerada');
    return
  }

  $.ajax({
    url: '<%=deletalinha_path %>',
    data : 
    {
        numero : $('#numero').val()
        ,ciclo_id : $('#ciclo_id').val()
    },
    success: function(data){

          location.reload();

    }
  })  
}

function geralinha() {

  if ($('#numero').val() == "") {
    alert('Preencha o número da linha a ser gerada');
    return
  }

  $.ajax({
    url: '<%=geralinha_path %>',
    data : 
    {
        numero : $('#numero').val()
        ,ciclo_id : $('#ciclo_id').val()
    },
    success: function(data){

          location.reload();

    }
  })  
}

</script>