<div class="box box-warning">
    <div class="box-header with-border">
      <h4 class="timeline-header"><a href="#">Linhas</a></h4>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome do Ciclo</th>
            <th>Número</th>
            <th>Valor</th>
            <th>Quantidade de Reentradas</th>
          </tr>
        </thead>

        <tbody>
          <% @ciclos.each do |ciclo| %>
            <tr>
              <td><%= ciclo.nomeciclo %></td>
              <td><%= ciclo.numerociclo %></td>
              <td><%= ciclo.valorciclo %></td>
              <td><%= ciclo.qtdreentradas %></td>

                <td align='right'>
                  <div class="btn-group">

                    <%= link_to ciclo, :class => "btn btn-default btn-sm" do %>
                      <span class="glyphicon glyphicon-list-alt"></span> Exibir
                    <% end %>                              
                    <%= link_to edit_ciclo_path(ciclo), :class => "btn btn-default btn-sm" do %>
                      <span class="glyphicon glyphicon-pencil"></span> Editar
                    <% end %>             
                    <%= link_to ciclo , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                      <span class="glyphicon glyphicon-trash"></span> Excluir
                    <% end %>            
                  </div>
                </td>

            </tr>
          <% end %>
        </tbody>
      </table>


      
    </div>
    <!-- /.box-body -->
</div>        



<script type="text/javascript">
  
function geralinha() {

  $.ajax({
    url: '<%=geralinha_path %>',
    data : 
    {
        numero : $('#numero').val()
    },
    success: function(data){

          location.reload();

    }
  })  
}

</script>