<% title "Listando Cadastros por linha" %>


  <table class="table table-hover">
      <thead>
        <tr>
          <th>Count</th>
          <th>Ordem</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      <%count = 0%>
        <% @redes.each do |rede| %>

          <tr>
            <td><%= count = count + 1 %></td>
            <td><%= rede.ordem rescue nil %></td>
            <td><%= rede.cadastro.nomepessoa rescue nil %></td>
            <td><%= rede.cadastro.telefone rescue nil %></td>
            <td>
              <%if not rede.cadastro.blank? %>
                <%if not rede.cadastro.flagativo%>
                  <%= link_to raw("<span class=\"glyphicon glyphicon-trash\"></span>Excluir"), 
                    cadastro_path(:id => rede.cadastro.id),
                    class: "btn btn-default btn-sm",
                    method: :delete %>
                <%end%>
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
        
<br>
