<p id="notice"><%= notice %></p>

<h1>Listing Tipoconta</h1>

<table>
  <thead>
    <tr>
      <th>Nometipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipoconta.each do |tipocontum| %>
      <tr>
        <td><%= tipocontum.nometipo %></td>
        <td><%= link_to 'Show', tipocontum %></td>
        <td><%= link_to 'Edit', edit_tipocontum_path(tipocontum) %></td>
        <td><%= link_to 'Destroy', tipocontum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipocontum', new_tipocontum_path %>
