<p id="notice"><%= notice %></p>

<div class="box box-warning">
    <div class="box-header with-border">
      <h4 class="timeline-header"><a href="#">Mensagens</a></h4>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Assunto</th>
          <th>Mensagem</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @contatos.each do |contato| %>
          <tr>
            <td><%= contato.nome %></td>
            <td><%= contato.email %></td>
            <td><%= contato.assunto.assunto %></td>
            <td><%= contato.mensagem %></td>

            <td align='right'>
                <%= link_to contato, :class => "btn btn-default btn-sm" do %>
                  <span class="glyphicon glyphicon-list-alt"></span> Exibir
                <% end %>                              

                <%= link_to contato , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                  <span class="glyphicon glyphicon-trash"></span> Excluir
                <% end %>            
            </td>              
          </tr>
        <% end %>
      </tbody>
    </table>

    </div>
  </div>


<br>

