<p id="notice"><%= notice %></p>

<h1>Listing Dadosfinanceiros</h1>

<table>
  <thead>
    <tr>
      <th>Nometitular</th>
      <th>contapicpay</th>
      <th>Observacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dadosfinanceiros.each do |dadosfinanceiro| %>
      <tr>
        <td><%= dadosfinanceiro.nometitular %></td>
        <td><%= dadosfinanceiro.contapicpay %></td>
        <td><%= dadosfinanceiro.observacao %></td>
        <td><%= link_to 'Edit', edit_dadosfinanceiro_path(dadosfinanceiro) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dadosfinanceiro', new_dadosfinanceiro_path %>
