<p id="notice"><%= notice %></p>

<p>
  <strong>Nometitular:</strong>
  <%= @dadosfinanceiro.nometitular %>
</p>

<p>
  <strong>Cpftitular:</strong>
  <%= @dadosfinanceiro.cpftitular %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @dadosfinanceiro.banco %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @dadosfinanceiro.agencia %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @dadosfinanceiro.codigo %>
</p>

<p>
  <strong>Operacao:</strong>
  <%= @dadosfinanceiro.operacao %>
</p>

<p>
  <strong>Contabancariatipo:</strong>
  <%= @dadosfinanceiro.contabancariatipo %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @dadosfinanceiro.observacao %>
</p>

<p>
  <strong>Emailsuperconta:</strong>
  <%= @dadosfinanceiro.emailsuperconta %>
</p>

<p>
  <strong>Datainclulsao:</strong>
  <%= @dadosfinanceiro.datainclulsao %>
</p>

<%= link_to 'Edit', edit_dadosfinanceiro_path(@dadosfinanceiro) %> |
<%= link_to 'Back', dadosfinanceiros_path %>
