<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @solicitacao.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @solicitacao.descricao %>
</p>

<p>
  <strong>Situacaodemanda:</strong>
  <%= @solicitacao.situacaodemanda.descricao %>
</p>

<p>
  <strong>Dataprevisao:</strong>
  <%= @solicitacao.dataprevisao %>
</p>

<p>
  <strong>Resolucao:</strong>
  <%= @solicitacao.resolucao %>
</p>


 </br>

  <%= link_to edit_solicitacao_path(@solicitacao), :class => "btn btn-info btn-bg" do %>
     <span class="glyphicon glyphicon-pencil"></span> Edit
  <% end %>

  <%= link_to solicitacaos_path, :class => "btn btn-success btn-bg" do %>
     <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %> 
