  <script src="/assets/template/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<div class="box box-warning">
    <div class="box-header with-border">
      <h4 class="timeline-header"><a href="#">Login Principal</a></h4>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th >Login</th>
            <th >Ciclo</th>
            <th >Reent.</th>
            <th ></th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td width="50%"><%=user.email%></td>
              <td ><span class="badge bg-green"><%=user.cadastro.ciclo.numerociclo%></span></td>

              <%if reentradasCiclo(user.cadastro.id,user.cadastro.ciclo.id).count >= user.cadastro.ciclo.qtdreentradas%>
                <td ><span class="badge bg-green"><%=reentradasCiclo(user.cadastro.id,user.cadastro.ciclo.id).count%> / <%=user.cadastro.ciclo.qtdreentradas%></span></td>
              <%else%>
                <td ><span class="badge bg-red"><%=reentradasCiclo(user.cadastro.id,user.cadastro.ciclo.id).count%> / <%=user.cadastro.ciclo.qtdreentradas%></span></td>
              <%end%>

              <td align='right'>
                  <%#=reentrada(user.cadastro.id)%>
                  <% if reentrada(user.cadastro.id) == 'opcional' %>
                    <div class="btn-group">
                      <%= link_to novareentrada_path(user.cadastro.id,'false','true'), :data => {:confirm => 'Deseja realmente realizar uma reentrada?'}, :class => "btn btn-success btn-sm" do %>
                         Reentrada Opcional
                      <% end %>   
                    </div>               
                  <% else %>   
                    <div class="btn-group">
                      <%= link_to novareentrada_path(user.cadastro.id,'false','false'), :data => {:confirm => 'Deseja realmente realizar uma reentrada?'}, :class => "btn btn-danger btn-sm" do %>
                         Reentrada Obrigatoria
                      <% end %>   
                    </div>               
                  <% end %>                
                  <% if upgrade(user.cadastro.id) == 'obrigatoria' %>
                    <div class="btn-group">
                      <%= link_to upgrade_ciclo_path(user.cadastro.id), :data => {:confirm => 'Deseja realmente realizar um upgrade?'}, :class => "btn btn-danger btn-sm" do %>
                         Upgrade Obrigatorio
                      <% end %>   
                    </div>               
                  <% end %>      
              </td>
            </tr>
        </tbody>
      </table>

      <div class="timeline-footer">
      <br>
        <div align="right">
         
        </div>

      </div>              
    </div>
    <!-- /.box-body -->
</div> 

