<%= form_for(@redetipo) do |f| %>
  <% if @redetipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@redetipo.errors.count, "error") %> prohibited this redetipo from being saved:</h2>

      <ul>
      <% @redetipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row mar-bot40">
  <div class="col-lg-4">
    <%= f.label :reentradaobrigatoria %><br>
    <%= f.check_box :reentradaobrigatoria %>
  </div>
  <div class="col-lg-4">
    <%= f.label :reentradas %><br>
    <%= f.number_field :reentradas, :class => 'form-control' %>
  </div>
  <div class="col-lg-4">
    <%= f.label :ordenada %><br>
    <%= f.check_box :ordenada  %>
  </div>
</div>
  <br>
  <br>
    <%= link_to redetipos_path, :class => "btn btn-success btn-bg" do %>
       <span class="glyphicon glyphicon-arrow-left"></span> Voltar
    <% end %>     
    <button type="submit" class="btn btn-info btn-bg">
      <span class="glyphicon glyphicon-arrow-right"></span> Salvar
    </button>
<% end %>
