<p id="notice"><%= notice %></p>

<h1>Listing Redetipos</h1>

<table>
  <thead>
    <tr>
      <th>Reentradaobrigatoria</th>
      <th>Reentradas</th>
      <th>Ordenada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @redetipos.each do |redetipo| %>
      <tr>
        <td><%= redetipo.reentradaobrigatoria %></td>
        <td><%= redetipo.reentradas %></td>
        <td><%= redetipo.ordenada %></td>
        <td><%= link_to 'Show', redetipo %></td>
        <td><%= link_to 'Edit', edit_redetipo_path(redetipo) %></td>
        <td><%= link_to 'Destroy', redetipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Redetipo', new_redetipo_path %>
