<% title "Listando Tipos de Linha" %>

<!-- Main content -->

<table class="table table-hover">
  <thead>
    <tr>
      <th>Reentradaobrigatoria</th>
      <th>Reentradas</th>
      <th>Ordenada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @redetipos.each do |redetipo| %>
      <tr>
        <td><%= redetipo.reentradaobrigatoria %></td>
        <td><%= redetipo.reentradas %></td>
        <td><%= redetipo.ordenada %></td>

        <td align='right'>
            <%= link_to redetipo, :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Exibir
            <% end %>                              
            <%= link_to edit_redetipo_path(redetipo), :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span> Editar
            <% end %>             
            <%= link_to redetipo , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-trash"></span> Excluir
            <% end %>            
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_redetipo_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-file"></span>Novo
<% end %>
