<p id="notice"><%= notice %></p>

<p>
  <strong>Reentradaobrigatoria:</strong>
  <%= @redetipo.reentradaobrigatoria %>
</p>

<p>
  <strong>Reentradas:</strong>
  <%= @redetipo.reentradas %>
</p>

<p>
  <strong>Ordenada:</strong>
  <%= @redetipo.ordenada %>
</p>

  <%= link_to edit_redetipo_path(@redetipo), :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-pencil"></span> Edit
  <% end %>

  <%= link_to redetipos_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>
