<p id="notice"><%= notice %></p>

<p>
  <strong>Reentradaobrigatoria:</strong>
  <%= @redetipo.reentradaobrigatoria %>
</p>

<p>
  <strong>Reentradas:</strong>
  <%= @redetipo.reentradas %>
</p>

<p>
  <strong>Ordenada:</strong>
  <%= @redetipo.ordenada %>
</p>

<%= link_to 'Edit', edit_redetipo_path(@redetipo) %> |
<%= link_to 'Back', redetipos_path %>
