
<link rel="stylesheet" href="assets/template/plugins/select2/select2.min.css">

<script src="assets/template/plugins/select2/select2.full.min.js"></script>


<div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- Chat box -->
          <div class="box box-success">
            <div class="box-header">
              <i class="fa fa-comments-o"></i>

              <h3 class="box-title">Mensagens Recebidas</h3>

              <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                <div class="btn-group" data-toggle="btn-toggle">
                </div>
              </div>
            </div>
            <div class="box-body chat" id="chat-box">
              <!-- chat item -->

              <% @mensagems.each do |mensagem| %>
                <div class="item">
                  <%if mensagem.cadastro_2.masculino%>
                    <%=image_tag("avatar04.png", class: "user image")%>
                  <%else%>
                    <%=image_tag("avatar2.png", class: "user image")%>
                  <%end%>
                  <p class="message">
                    <a href="#" class="name">
                      <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> <%=mensagem.created_at.blank? ? '' : mensagem.created_at.strftime("%d/%m/%Y - %H:%M")%></small>
                      De: <%= mensagem.cadastro_2.nomepessoa %>
                    </a>
                      <%= mensagem.mensagem %>
                  </p>
                </div>
              <% end %>
              
            </div>
          </div>

          <div class="box box-warning">
            <div class="box-header">
              <i class="fa fa-comments-o"></i>

              <h3 class="box-title">Mensagens Enviadas</h3>

              <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                <div class="btn-group" data-toggle="btn-toggle">
                </div>
              </div>
            </div>
            <div class="box-body chat" id="chat-box">
              <!-- chat item -->

              <% @mensagemsEnviadas.each do |mensagem| %>
                <div class="item">
                  <%if mensagem.cadastro_2.masculino%>
                    <%=image_tag("avatar04.png", class: "user image")%>
                  <%else%>
                    <%=image_tag("avatar2.png", class: "user image")%>
                  <%end%>
                  <p class="message">
                    <a href="#" class="name">
                      <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> <%=mensagem.created_at.blank? ? '' : mensagem.created_at.strftime("%d/%m/%Y - %H:%M")%></small>
                      Para: <%= mensagem.cadastro_1.nomepessoa %>
                    </a>
                      <%= mensagem.mensagem %>
                  </p>                 
                </div>
              <% end %>
              
            </div>
          </div>          


            <!-- /.chat -->
            <div class="box-footer">

              <div class="form-group">
                <label>Contatos</label>
                <select id="cadastro_1_id" name="cadastro_1_id" class="form-control select2"  data-placeholder="Select a State" style="width: 100%;">
                    <option value="0"></option>
                      <% @pessoas.each do |pessoa| %>
                    <option value="<%=pessoa.id%>"><%=pessoa.nomepessoa%></option>
                  <%end%>
                </select>
              </div>

              <div class="input-group">
                <input class="form-control" id="mensagem" name="mensagem" placeholder="Escreva uma mensagem...">

                <div class="input-group-btn">
                  <button type="button" class="btn btn-success" onclick="buscaservicos();"><i class="fa fa-send"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box (chat box) -->
        </section>


<script>
  $(function () {
    //Initialize Select2 Elements
    $(".select2").select2();

    });


function buscaservicos() {

  if ($('#cadastro_1_id').val() ==0){

    alert("Escolha um contato!")
    return;
  }

  $.ajax({
    url: '<%= grava_mensagem_path %>',
    data : 
    {
        mensagem : $('#mensagem').val()
        ,cadastro_1_id : $('#cadastro_1_id').val()
    },
    success: function(data){

          location.reload();

    }
  })  
}
</script>          