<%= form_for(@contabancariatipo) do |f| %>
  <% if @contabancariatipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contabancariatipo.errors.count, "error") %> prohibited this contabancariatipo from being saved:</h2>

      <ul>
      <% @contabancariatipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome_do_tipo_de_Conta %><br>
    <%= f.text_field :nometipo %>
  </div>

 </br>
 
  <button type="submit" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>
  
<% end %>
