<%= form_for(@reentrada) do |f| %>
  <% if @reentrada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reentrada.errors.count, "error") %> prohibited this reentrada from being saved:</h2>

      <ul>
      <% @reentrada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :ciclo_id%>
  <%= f.text_field :ciclo_id%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
