<!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Doações Realizadas Pendentes</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Doador</th>
                    <th>Recebedor</th>
                    <th>Status</th>
                    <th>Tempo Restante</th>
                  </tr>
                  </thead>
                  <tbody>
                  <%@doacoesAguardando.each do |doacao|%>
                    <tr>
                      <td><%=doacao.cadastro_doador.nomepessoa%></td>
                      <td><%=doacao.cadastro_recebedor.nomepessoa%></td>
                      <td><span class="label label-warning">Aguardando Aprovação</span></td>
                      <td>
                      <p><i class="fa fa-clock-o"></i> <span id="clock<%=doacao.id%>r"></span></small></p>
                      </td>
                    </tr>

                   <script type="text/javascript">
                   $('#clock'+ <%=doacao.id%> + 'r').countdown("<%=doacao.tempo.strftime("%Y/%m/%d %H:%M")%>", function(event) {
                     var totalHours = event.offset.totalDays * 24 + event.offset.hours;
                     $(this).html(event.strftime(totalHours + ' hr %M min %S sec'));
                   });   
                   </script>                      
                  <%end%>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->