<%= form_for(@doacao) do |f| %>
  <% if @doacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doacao.errors.count, "error") %> prohibited this doacao from being saved:</h2>

      <ul>
      <% @doacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ciclo_id %><br>
    <%= f.text_field :ciclo_id %>
  </div>
  <div class="field">
    <%= f.label :flagconfirmada %><br>
    <%= f.check_box :flagconfirmada %>
  </div>
  <div class="field">
    <%= f.label :flagrejeitada %><br>
    <%= f.check_box :flagrejeitada %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
