<!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Doações Recebidas</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Doador</th>
                  <th>Recebedor</th>
                  <th>Ciclo</th>
                  <th>Valor</th>
                  <th>Data Doação</th>
                  <th>Data Confirmação</th>
                  <th>Informação</th>
                </tr>
                </thead>
                <tbody>
                <%@total = 0%>
                <% @doacaos.each do |doacao| %>
                <% @total = @total + doacao.ciclo_doador.valorciclo%>
                  <tr>
                    <td><%=link_to edit_doacao_path(doacao.id) do%><%= doacao.cadastro_doador.nomepessoa rescue nil%><%end%></td>
                    <td><%= doacao.cadastro_recebedor.nomepessoa %></td>
                    <td><%= doacao.ciclo_doador.numerociclo %></td>
                    <td><%=number_to_currency(doacao.ciclo_doador.valorciclo, unit: "R$", separator: ",", delimiter: ".")%></td>
                    <td><%= doacao.created_at.blank? ? '' : doacao.created_at.strftime("%d/%m/%Y - %H:%M")%></td>
                    <td><%= doacao.dataconfirmacao.blank? ? '' : doacao.dataconfirmacao.strftime("%d/%m/%Y - %H:%M")%></td>
                    <td><%= doacao.observacao %></td>
                      <%#if doacao.flagconfirmada%>
                          <!-- <i class="menu-icon fa fa-check bg-green"></i> -->
                      <%#else%>
                          <!-- <i class="menu-minus fa fa-times bg-gray"></i> -->
                    </td>
                  </tr>
                <% end %>   
                <% @doacaosrecebidasreentradas.each do |doacao| %>
                <% @total = @total + doacao.ciclo_doador.valorciclo%>
                  <tr>
                    <td><%=link_to edit_doacao_path(doacao.id) do%><%= doacao.cadastro_doador.nomepessoa %><%end%></td>
                    <td><%= doacao.cadastro_recebedor.nomepessoa %></td>
                    <td><%= doacao.ciclo_doador.numerociclo %></td>
                    <td><%=number_to_currency(doacao.ciclo_doador.valorciclo, unit: "R$", separator: ",", delimiter: ".")%></td>
                    <td><%= doacao.created_at.blank? ? '' : doacao.created_at.strftime("%d/%m/%Y - %H:%M")%></td>
                    <td><%= doacao.dataconfirmacao.blank? ? '' : doacao.dataconfirmacao.strftime("%d/%m/%Y - %H:%M")%></td>
                    <td><%= doacao.observacao %></td>
                      <%#if doacao.flagconfirmada%>
                          <!-- <i class="menu-icon fa fa-check bg-green"></i> -->
                      <%#else%>
                          <!-- <i class="menu-minus fa fa-times bg-gray"></i> -->
                    </td>
                  </tr>
                <% end %>                               
                <tr>
                  <td colspan="7">
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Doações Recebidas:</b>
                  </td>
                  <td>
                    <%=@doacaosrecebidasreentradas.count + @doacaos.count%>
                  </td>
                  <td>
                    <b>Total:</b>
                  </td>
                  <td>
                    <%=number_to_currency(@total, unit: "R$", separator: ",", delimiter: ".")%>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>

  <script>
  // $(function () {
  //   $("#example1").DataTable();
  //   $('#example2').DataTable({
  //     "paging": true,
  //     "lengthChange": false,
  //     "searching": false,
  //     "ordering": true,
  //     "info": true,
  //     "autoWidth": false
  //   });
  // });
</script>