<p id="notice"><%= notice %></p>

<h1>Listing Doacaos</h1>

<table>
  <thead>
    <tr>
      <th>Ciclo</th>
      <th>Flagconfirmada</th>
      <th>Flagrejeitada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doacaos.each do |doacao| %>
      <tr>
        <td><%= doacao.ciclo %></td>
        <td><%= doacao.flagconfirmada %></td>
        <td><%= doacao.flagrejeitada %></td>
        <td><%= link_to 'Show', doacao %></td>
        <td><%= link_to 'Edit', edit_doacao_path(doacao) %></td>
        <td><%= button_to 'Destroy', doacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doacao', new_doacao_path %>
