<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Listing Doacaos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>De</th>
      <th>Para</th>
      <th>Data Inclusão</th>
      <th>Data Confirmação</th>
      <th>Pausada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doacaos.each do |doacao| %>
      <tr>
        <td><%= doacao.cadastro_doador.nomepessoa rescue nil%></td>
        <td><%= doacao.cadastro_recebedor.nomepessoa rescue nil%></td>
        <td><%= doacao.created_at %></td>
        <td><%= doacao.dataconfirmacao %></td>
        <td><%= doacao.flagpause == true ? '<span class="glyphicon glyphicon-exclamation-sign"></span>'.html_safe : ''%></td>
        <td align='right'>
            <%= link_to pausardoacao_doacao_path(doacao), :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-exclamation-sign"></span> Pausar
            <% end %>   
            <%= button_to "delete", doacao_path(:id => doacao.id), :method => :delete %>     
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

