<p id="notice"><%= notice %></p>

<p>
  <strong>Ciclo:</strong>
  <%= @doacao.ciclo %>
</p>

<p>
  <strong>Flagconfirmada:</strong>
  <%= @doacao.flagconfirmada %>
</p>

<p>
  <strong>Flagrejeitada:</strong>
  <%= @doacao.flagrejeitada %>
</p>

<%= link_to 'Edit', edit_doacao_path(@doacao) %> |
<%= link_to 'Back', doacaos_path %>
