<p id="notice"><%= notice %></p>

<h1>Listing Obrigacaos</h1>

<table>
  <thead>
    <tr>
      <th>Cadastro</th>
      <th>Flagrealizado</th>
      <th>cadastro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @obrigacaos.each do |obrigacao| %>
      <tr>
        <td><%= obrigacao.cadastro.nomepessoa %></td>
        <td><%= obrigacao.flagrealizado %></td>
        <td><%= obrigacao.cadastro_adicionado_id %></td>
        <td><%= link_to 'Show', obrigacao %></td>
        <td><%= link_to 'Edit', edit_obrigacao_path(obrigacao) %></td>
        <td><%= link_to 'Destroy', obrigacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Obrigacao', new_obrigacao_path %>
