<p id="notice"><%= notice %></p>

<p>
  <strong>Cadastro:</strong>
  <%= @obrigacao.cadastro %>
</p>

<p>
  <strong>Flagrealizado:</strong>
  <%= @obrigacao.flagrealizado %>
</p>

<%= link_to 'Edit', edit_obrigacao_path(@obrigacao) %> |
<%= link_to 'Back', obrigacaos_path %>
