<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @usuario.senha %>
</p>

<p>
  <strong>Cadastro:</strong>
  <%= @usuario.cadastro %>
</p>

<p>
  <strong>Datainclusao:</strong>
  <%= @usuario.datainclusao %>
</p>

<p>
  <strong>Dataultimologin:</strong>
  <%= @usuario.dataultimologin %>
</p>

<p>
  <strong>Flagativo:</strong>
  <%= @usuario.flagativo %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
