<p id="notice"><%= notice %></p>

<h1>Listing Ciclos</h1>

<table>
  <thead>
    <tr>
      <th>Nomeciclo</th>
      <th>Numerociclo</th>
      <th>Valorciclo</th>
      <th>Qtdreentradas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ciclos.each do |ciclo| %>
      <tr>
        <td><%= ciclo.nomeciclo %></td>
        <td><%= ciclo.numerociclo %></td>
        <td><%= ciclo.valorciclo %></td>
        <td><%= ciclo.qtdreentradas %></td>
        <td><%= link_to 'Show', ciclo %></td>
        <td><%= link_to 'Edit', edit_ciclo_path(ciclo) %></td>
        <td><%= link_to 'Destroy', ciclo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ciclo', new_ciclo_path %>
