<% title "Listando Ciclos" %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome do Ciclo</th>
      <th>Número</th>
      <th>Valor</th>
      <th>Quantidade de Reentradas</th>
    </tr>
  </thead>

  <tbody>
    <% @ciclos.each do |ciclo| %>
      <tr>
        <td><%= ciclo.nomeciclo %></td>
        <td><%= ciclo.numerociclo %></td>
        <td><%= ciclo.valorciclo %></td>
        <td><%= ciclo.qtdreentradas %></td>

          <td align='right'>
            <div class="btn-group">

              <%= link_to exibirlinhas_path(ciclo.id), :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Exibir Rede
              <% end %>
              <%= link_to edit_ciclo_path(ciclo), :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-pencil"></span> Editar
              <% end %>

            </div>
          </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div align="right">
  <%= link_to new_ciclo_path, :class => "btn btn-success btn-bg" do %>
    <span class="glyphicon glyphicon-plus"></span> Novo
  <% end %>
</div>