<p id="notice"><%= notice %></p>

<p>
  <strong>Nomeciclo:</strong>
  <%= @ciclo.nomeciclo %>
</p>

<p>
  <strong>Numerociclo:</strong>
  <%= @ciclo.numerociclo %>
</p>

<p>
  <strong>Valorciclo:</strong>
  <%= @ciclo.valorciclo %>
</p>

<p>
  <strong>Qtdreentradas:</strong>
  <%= @ciclo.qtdreentradas %>
</p>

<%= link_to 'Edit', edit_ciclo_path(@ciclo) %> |
<%= link_to 'Back', ciclos_path %>
